<template name="friends">
    <h3>{{_"sidebar.nav.FRIENDS"}}
       <small>{{_"sidebar.nav.FRIENDS"}}</small>
    </h3>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" name="form-add-friend" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="amigos" class="col-sm-2 control-label">Procurar Amigo</label> 
                  <div class="col-sm-6">
                    <select name="amigos" id="amigos" class="form-control m-b" multiple="">
                      {{#each allUsers}}
                        <option value='{{ _id }}'>{{ emailDoAmigo }}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <button type="button" id="btnAddFriend" class="btn btn-default">Adicionar</button>
                    </div>  
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      {{#each amigos}}
      <div class="col-lg-3 col-md-4">
          <div class="panel b text-center">
             <div class="panel-body">
                {{> avatar userId=amigo_id }}
                <p class="h4 text-bold mb0">{{ nome }}</p>
                <p>{{ email }}</p>
                <button type="button" class="btn btn-success btn-oval">Ver</button>
             </div>
             <div class="panel-body bt">
                <div class="row">
                   <div class="col-xs-4 br">
                      <em class="fa fa-facebook fa-fw text-primary"></em>
                      <strong>+700</strong>
                   </div>
                   <div class="col-xs-4 br">
                      <em class="fa fa-twitter fa-fw text-info"></em>
                      <strong>+300</strong>
                   </div>
                   <div class="col-xs-4">
                      <em class="fa fa-heart fa-fw text-danger"></em>
                      <strong>+150</strong>
                   </div>
                </div>
             </div>
          </div>
      </div>
      {{/each}}
  </div>
</template>