<template name="main">
      <div class="content-heading">
         <!-- START Language list-->
         <div class="pull-right">
            <div class="btn-group">
               <button type="button" data-toggle="dropdown" class="btn btn-default">{{_"dashboard.PORTUGUESE"}}</button>
               <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                  <li><a href="#" data-set-lang="en">{{_"dashboard.ENGLISH"}}</a>
                  </li>
                  <li><a href="#" data-set-lang="pt">{{_"dashboard.PORTUGUESE"}}</a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- END Language list    -->
         Plataforma de BoardGames
         <small>{{_"dashboard.WELCOME"}}</small>
      </div>
      <div class="row">
         <div class="text-center"><img src="/img/logoSocialGames.png" alt="App Logo"></div>
         {{#unless currentUser}}
         <div class="col-xs-12 text-center">
            <p>Para utilizar os recursos faça seu login</p>
            <div class="text-center"><a href="/login" class="btn btn-primary">Login</a></div>
         </div>
         {{/unless}}
      </div>
</template>