<template name="matches">
    <h3>{{_"sidebar.nav.MATCHES"}}
       <small>{{_"sidebar.nav.MATCHES"}}</small>
    </h3>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" name="form-add-friend" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="amigos" class="col-sm-2 control-label">Escolha o jogo</label> 
                  <div class="col-sm-6">
                    <select name="selectGame" multiple="" id="selectGame" class="form-control m-b">
                      {{#each games}}
                        <option value='{{ bggid }}'>{{ name }}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
            <div>Não encontrou seu jogo? <a href="/games">cadastre agora, é super rápido.</a></div>
          </form>
      </div>
    </div>

    {{#with game}}
    <div class="col-lg-6" id="viewGame">
      <div class="panel widget">
        <div class="panel-body bg-inverse">
          <div class="row text-center">
            <div class="col-xs-6">
              <img src="https:{{ thumbnail }}"/>
            </div>
            <div class="col-xs-6">
              <h4 class="m0">{{ name }}</h4>
              <p class="m0 text-muted">
                 <small>Ano: {{ yearpublished }}</small>
              </p>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row row-table text-center">
            <div class="col-xs-6">
              <p class="m0 text-muted">Tempo médio</p>
              <h4 class="m0"><em class="fa fa-clock-o"></em> {{ playingtime }} min</h4>
            </div>
            <div class="col-xs-6">
              <p class="m0 text-muted">Jogadores</p>
              <h4 class="m0"><em class="fa fa-group"></em> {{ minplayers }} - {{ maxplayers }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}

    <div class="col-lg-6" id="divButtons">
      <button type="button" id="btnMatchNow" class="btn btn-success">Vou jogar agora</button> ou
      <button type="button" id="btnScheduleMatch" class="btn btn-info">Agendar partida</button>
    </div>  

    <div class="col-lg-6" id="divPlayers">
      <div class="panel panel-default">
         <div class="panel-heading">{{ maxplayers }} Jogadores</div>
         <!-- START table-responsive-->
        <div class="table-responsive">
            <table id="table-ext-1" class="table table-bordered table-hover">
               <tbody>
                  <!-- <tr>
                     <td>#1</td>
                     <td>
                        <div class="media">
                           <img src="img/user/01.jpg" alt="Image" width="40" class="img-responsive img-circle">
                        </div>
                     </td>
                     <td>@twitter</td>
                     <td>Larry</td>
                  </tr> -->
                  {{#each arrMaxPlayers }}
                    <tr>
                      <td>#{{ index }}</td>
                      <td>
                        <select name="player{{ index }}" id="player{{ index }}" class="form-control m-b">
                          <option>Selecione um jogador</option>
                          {{#each friends}}
                            <option value='{{ _id }}'>{{ email }}</option>
                          {{/each}}
                        </select>
                      </td>
                    </tr>  
                  {{/each}}
               </tbody>
            </table>
        </div>
      </div>
      <div class="form-group pull-right">
        <button type="button" id="btnMatchNow" class="btn btn-success">Iniciar Partida</button>
      </div>
    </div>

  </div>  
</template>