<template name="matches">
    <h3>{{_"sidebar.nav.MATCHES"}}
       <small>{{_"sidebar.nav.MATCHES"}}</small>
    </h3>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" name="form-add-friend" class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="amigos" class="col-sm-2 control-label">Escolha o jogo</label> 
                  <div class="col-sm-6">
                    <select name="selectGame" multiple="" id="selectGame" class="form-control m-b">
                      {{#each games}}
                        <option value='{{ bggid }}'>{{ name }}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
            <div>Não encontrou seu jogo? cadastre agora, é super rápido. <button type="button" id="btnNewGame" class="btn btn-success">Cadastrar novo jogo</button></div>
          </form>
      </div>
    </div>

    {{#with game}}
    <div class="col-lg-6" id="viewGame">
      <div class="panel widget">
        <div class="panel-body bg-inverse">
          <div class="row text-center">
            <div class="col-xs-6">
              <img src="{{ thumbnail }}"/>
            </div>
            <div class="col-xs-6">
              <h4 class="m0">{{ name }}</h4>
              <p class="m0 text-muted">
                 <small>Ano: {{ yearpublished }}</small>
              </p>
              <button type="button" id="btnNewGame" class="btn btn-default">Vou jogar agora</button>
              <br/>ou<br/>
              <button type="button" id="btnNewGame" class="btn btn-default">Agendar partida</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row row-table text-center">
            <div class="col-xs-6">
              <p class="m0 text-muted">Tempo médio</p>
              <h4 class="m0"><em class="fa fa-clock-o"></em> {{ playingtime }} min</h4>
            </div>
            <div class="col-xs-6">
              <p class="m0 text-muted">Jogadores</p>
              <h4 class="m0"><em class="fa fa-group"></em> {{ minplayers }} - {{ maxplayers }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}

  </div>  
</template>