<template name="sidebar">
    <aside class="aside">
        <!-- START Sidebar (left)-->
        <div class="aside-inner">
            <nav class="sidebar">
                <!-- START sidebar nav-->
                <ul class="nav">
                    {{#with currentUser}}
                    <li class="collapse in">
                        {{#with profile}}
                         <!-- User picture-->
                        <div class="user-block-picture" style="padding: 20px">
                            <div class="user-block-status">
                                <img src={{ userPicHelper }} alt="Avatar" class="img-thumbnail img-circle" width="60" height="60">
                                <div class="circle circle-success circle-lg"></div>
                            </div>
                            <div class="user-block-info">
                                <span class="user-block-name">
                                    {{name}}
                                </span>
                            </div>
                            <div>
                                <a href="{{ pathFor 'logoff' }}">
                                    <span>Logoff</span>
                                </a>
                            </div>
                        </div>
                        {{/with}}
                    </li>
                    {{/with}}
                    <li class="{{isActiveRoute regex='singleview'}}">
                        <a href="{{ pathFor 'singleview' }}" title="Single View">
                            <em class="fa fa-file-o"></em>
                            <span>{{_ "sidebar.nav.SINGLEVIEW" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='friends'}}">
                        <a href="{{ pathFor 'friends' }}" title="{{_ 'sidebar.nav.FRIENDS' }}">
                            <em class="fa fa-file-o"></em>
                            <span>{{_ "sidebar.nav.FRIENDS" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='games'}}">
                        <a href="{{ pathFor 'games' }}" title="{{_ 'sidebar.nav.GAMES' }}">
                            <em class="fa fa-file-o"></em>
                            <span>{{_ "sidebar.nav.GAMES" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='logs'}}">
                        <a href="{{ pathFor 'logs' }}" title="{{_ 'sidebar.nav.LOGS' }}">
                            <em class="fa fa-file-o"></em>
                            <span>{{_ "sidebar.nav.LOGS" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='matches'}}">
                        <a href="{{ pathFor 'matches' }}" title="{{_ 'sidebar.nav.MATCHES' }}">
                            <em class="fa fa-file-o"></em>
                            <span>{{_ "sidebar.nav.MATCHES" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='places'}}">
                        <a href="{{ pathFor 'places' }}" title="{{_ 'sidebar.nav.PLACES' }}">
                            <em class="fa fa-file-o"></em>
                            <span>{{_ "sidebar.nav.PLACES" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='rankings'}}">
                        <a href="{{ pathFor 'rankings' }}" title="{{_ 'sidebar.nav.RANKINGS' }}">
                            <em class="fa fa-file-o"></em>
                            <span>{{_ "sidebar.nav.RANKINGS" }}</span>
                        </a>
                    </li>
                </ul>
                <!-- END sidebar nav-->
            </nav>
        </div>
        <!-- END Sidebar (left)-->
    </aside>
</template>
