<template name="sidebar">
{{#with currentUser}}
    <aside class="aside">
        <!-- START Sidebar (left)-->
        <div class="aside-inner">
            <nav class="sidebar">
                <!-- START sidebar nav-->
                <br/>
                <ul class="nav">
                    
                    <li class="{{isActiveRoute regex='main'}} main">
                        <a href="{{ pathFor 'main' }}" title="main">
                            <em class="fa fa-home"></em>
                            <span>{{_ "sidebar.nav.SINGLEVIEW" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='timeline'}} timeline">
                        <a href="{{ pathFor 'timeline' }}" title="{{_ 'sidebar.nav.TIMELINE' }}">
                            <em class="fa fa-tasks"></em>
                            <span>{{_ "sidebar.nav.TIMELINE" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='friends'}} friends">
                        <a href="{{ pathFor 'friends' }}" title="{{_ 'sidebar.nav.FRIENDS' }}">
                            <em class="fa fa-users"></em>
                            <span>{{_ "sidebar.nav.FRIENDS" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='games'}} games">
                        <a href="{{ pathFor 'games' }}" title="{{_ 'sidebar.nav.GAMES' }}">
                            <em class="fa fa-cubes"></em>
                            <span>{{_ "sidebar.nav.GAMES" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='matches'}} matches">
                        <a href="{{ pathFor 'matches' }}" title="{{_ 'sidebar.nav.MATCHES' }}">
                            <em class="fa fa-institution"></em>
                            <span>{{_ "sidebar.nav.MATCHES" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='places'}} places">
                        <a href="{{ pathFor 'places' }}" title="{{_ 'sidebar.nav.PLACES' }}">
                            <em class="fa fa-map-marker"></em>
                            <span>{{_ "sidebar.nav.PLACES" }}</span>
                        </a>
                    </li>
                    <li class="{{isActiveRoute regex='rankings'}} rankings">
                        <a href="{{ pathFor 'rankings' }}" title="{{_ 'sidebar.nav.RANKINGS' }}">
                            <em class="fa fa-trophy"></em>
                            <span>{{_ "sidebar.nav.RANKINGS" }}</span>
                        </a>
                    </li>
                </ul>
                <!-- END sidebar nav-->
            </nav>
        </div>
        <!-- END Sidebar (left)-->
    </aside>
{{/with}}    
</template>
